* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-weight: 400;
}

.main-header {
  padding: 20px 10px;
  max-width: 960px;
  margin: 0 auto;
}
#map {
  width: 100vw;
  height: 90vh;
}

.atc-marker {
  width: 24px;
  height: 24px;
  border: 2px solid #345;
  background: #fff;
  border-radius: 50%;
  line-height: 22px;
  font-size: 8px;
  font-weight: 900;
  color: #345;
  text-align: center;
  background-image: url('../images/atc.svg');
}

.tower-marker {
  background-image: url('../images/tower.svg');
}
.ground-marker {
  background-image: url('../images/ground.svg');
}
.atis-marker {
  background-image: url('../images/atis.svg');
}


.plane-marker,
.atc-marker {
  cursor: pointer;
}
.plane-marker div {
  width: 30px;
  height: 30px;
  background: url('../images/plane.svg') no-repeat 50% 50%;
  /*background-image: url('../images/boeing-747-400.svg');*/
}

.plane-marker .plane-small {
  background-size: 50% 50%;
}

.plane-marker .plane-basic {
  background-size: 70% 70%;
}

.plane-marker .plane-heavy {
  background-size: 100% 100%;
}

.plane-marker .hdg-0 { transform: rotate(0deg); }
.plane-marker .hdg-15 { transform: rotate(15deg); }
.plane-marker .hdg-30 { transform: rotate(30deg); }
.plane-marker .hdg-45 { transform: rotate(45deg); }
.plane-marker .hdg-60 { transform: rotate(60deg); }
.plane-marker .hdg-75 { transform: rotate(75deg); }
.plane-marker .hdg-90 { transform: rotate(90deg); }

.plane-marker .hdg-105 { transform: rotate(105deg); }
.plane-marker .hdg-120 { transform: rotate(120deg); }
.plane-marker .hdg-135 { transform: rotate(135deg); }
.plane-marker .hdg-150 { transform: rotate(150deg); }
.plane-marker .hdg-165 { transform: rotate(165deg); }
.plane-marker .hdg-180 { transform: rotate(180deg); }

.plane-marker .hdg-195 { transform: rotate(195deg); }
.plane-marker .hdg-210 { transform: rotate(210deg); }
.plane-marker .hdg-225 { transform: rotate(225deg); }
.plane-marker .hdg-240 { transform: rotate(240deg); }
.plane-marker .hdg-255 { transform: rotate(255deg); }
.plane-marker .hdg-270 { transform: rotate(270deg); }

.plane-marker .hdg-285 { transform: rotate(285deg); }
.plane-marker .hdg-300 { transform: rotate(300deg); }
.plane-marker .hdg-315 { transform: rotate(315deg); }
.plane-marker .hdg-330 { transform: rotate(330deg); }
.plane-marker .hdg-345 { transform: rotate(345deg); }


.mapboxgl-popup-content dl {
  width: 200px;
}
.mapboxgl-popup-content dt {
  width: 60%;
  display: inline-block;
}
.mapboxgl-popup-content dd {
  display: inline-block;
  width: 40%;
}
